<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="秋风清，秋月明，落叶聚还散。 | 月明 | 这里是 @Moonming月明 的个人博客。">
    <meta name="keywords" content="月明, Moonming月明, Moonming, 月明的博客, Moonming Blog, 博客, 个人网站, 互联网, Web, Java, 后端, 技术">
    <meta name="theme-color" content="#000000">
    
    <!-- Open Graph -->
    <meta property="og:title" content="归档 - 月明的博客 | Moonming's Blog">
    
    <meta property="og:type" content="website">
    <meta property="og:description" content="迅速成长 积累沉淀">
    
    <meta property="og:image" content="https://moon-ming.github.io/img/avatar-hux-ny.jpg">
    <meta property="og:url" content="https://moon-ming.github.io/archive/">
    <meta property="og:site_name" content="月明的博客 | Moonming's Blog">
    
    <title>归档 - 月明的博客 | Moonming's Blog</title>

    <!-- Web App Manifest -->
    <link rel="manifest" href="/pwa/manifest.json">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="https://moon-ming.github.io/archive/">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/hux-blog.min.css">

    <!-- Custom Fonts -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- Hux change font-awesome CDN to qiniu -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ga & ba script hoook -->
    <script></script>
</head>

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}
    {% include search.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
